<h1>Here is your products summary:</h1>
 <hr>
 <p>Total Products: <%= @products %> </p>
 <p>Total Categories: <%= @categories %> </p> 

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Total Products</th>
      <th>Total Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @products_count %></td>
      <td><%= @categories_count %></td>
    </tr>
  </tbody>
</table>
